NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://mdtaju4175:taju12345@tdp.mjbhhmz.mongodb.net/neogen-engine?appName=TDP
JWT_SECRET=neogen_secret_key_123
JWT_EXPIRES_IN=30d

EMAIL_USER=neogenbyankish@gmail.com
EMAIL_PASS=pvwb nnda uznf pevh

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Email Configuration
EMAIL_FROM_NAME=NEO GEN Internship Engine
EMAIL_FROM_EMAIL=neogenbyankish@gmail.com

# OTP Configuration
OTP_EXPIRY_MINUTES=5
OTP_LENGTH=6

# PDF Parsing (for Resume ATS)
PDF_MAX_SIZE=5242880

CLOUDINARY_CLOUD_NAME=dlo5wt5ie
CLOUDINARY_API_KEY=643543885879341
CLOUDINARY_API_SECRET=vCSe6u5qvNwyGyIBxSGbTrOJsR0
#=========================================

ATS_API_URL=http://localhost:8000/
